{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stock</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ stock.symbol }}</td>
            </tr>
            <tr>
                <th>Updatetime</th>
                <td>{% if stock.updateTime %}{{ stock.updateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stock_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stock_edit', { 'id': stock.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
